[user]
  name = tsutorm
  email = oonishi.wasborn.1981@gmail.com
[core]
  whitespace = cr-at-eol
  excludesfile = ~/.gitignore
  editor = emacs
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  st = status -s
  sh = show
  sho = show --pretty="format:" --name-only
  ci = commit
  cm = commit -m
  co = checkout
  br = branch
  wc = whatchanged
  ls = log --stat
  lg = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d'
  lo = log --graph --all --color --pretty='%x09%h %ad %cn%x09%s %Cred%d' --date=short
  logall = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  loga = log -n 25 --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  lf = log --follow -p
	quick-stats = ! /usr/local/bin/git-quick-stats
